body {
  margin: 0;
}

.container {
  height: 700px;
  margin-bottom: 35px;
  display: grid;
  grid-template-areas: 
  "block1 block1 block1"
  "block2 block3 block3"
  "block2 block4 block6"
  "block2 block5 block6";
}

.block {
 font-size: 50px;
 color: grey;
}

.block--1 {
  grid-area: block1;
  background-color: peru;
}

.block--2 {
  grid-area: block2;
  background-color: peachpuff;
}

.block--3 {
  grid-area: block3;
  background-color: papayawhip;
}

.block--4 {
  grid-area: block4;
  background-color: plum;
}

.block--5 {
  grid-area: block5;
  background-color: pink;
}

.block--6 {
  grid-area: block6;
  background-color: palegoldenrod;
}

.container--2 {
  height: 700px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.box {
  font-size: 50px;
  color: grey;
 }

.box--1 {
  grid-column: 1 / -1;
  background-color: peru;
}

.box--2 {
  grid-row: 2 / -1;
  background-color: peachpuff;
}

.box--3 {
  grid-column: 2 / -1;
  background-color: papayawhip;
}

.box--4 {
  grid-column: 2;
  background-color: plum;
}

.box--5 {
  grid-row: 4;
  background-color: pink;
}

.box--6 {
  grid-row:3 / 5 ;
  background-color: palegoldenrod;
}